{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>

    {% include "navbar.html" %}

    <h1>Product Details Views</h1>

    <ol>
      <li>Title: {{ product.title }}</li>
      <li>Description: {{ product.description }}</li>
      <li>Quantity Available: {{ product.quantity }}</li>
      <li>Price/Unit: {{ product.price }}</li>
      <li>City: {{ product.city }}</li>

      {%if product.image_path%}
      <img src="/media/{{product.image_path}}" alt="{{product.
      title}}" width="150">
      {%else%}
      <img src="/media/images/no-image.png" alt="{{product.
      title}}" width="150">
      {%endif%}

      {% if product.local_delivery %}
        <li>Local Delivery: Yes</li>
      {% else %}
        <li>Local Delivery: No</li>
      {% endif %}
    </ol>

  {% if request.user.is_authenticated %}
  <form method="post" action="{% url 'website:product_details' product_id=product.id %}">
    {% csrf_token %}
    <button type="submit" value="submit">Add to Order</button>
  </form>

  <button><a href="{% url 'website:recommend_product' product_id=product.id %}">Recommend to a Friend!</a></button>
  {% endif %}

  </body>
</html>
