  {% extends '../index.html' %}
  {% block content %}
  {% load staticfiles %}

    {% include "navbar.html" %}

    <h1>Product Details Views</h1>


    <h2>Title: {{ product.title }}</h2>
    {% if user.is_authenticated %}
      <form id="login_form" method="post">
          {% csrf_token %}
          {% if product_liked %}
            <h6><b>You {{product_liked}}</b></h6>
          <br />
          {% else %}
          <input type="submit" name="like_dislike" value="Like"  />
          <br />
          <input type="submit" name="like_dislike" value="Dislike" />
          {% endif %}
      </form>
    {% endif %}


    <hr>
    <ol>
      <li>Description: {{ product.description }}</li>
      <li>Quantity Available: {{ product.quantity }}</li>
      <li>Price/Unit: {{ product.price }}</li>
      <li>City: {{ product.city }}</li>

      {%if product.image_path%}
      <img src="/media/{{product.image_path}}" alt="{{product.
      title}}" width="150">
      {%else%}
      {%endif%}

      {% if product.local_delivery %}
        <li>Local Delivery: Yes</li>
      {% else %}
        <li>Local Delivery: No</li>
      {% endif %}
    </ol>

  {% if request.user.is_authenticated %}
  <form method="post" action="{% url 'website:product_details' product_id=product.id %}">
    {% csrf_token %}
    <button type="submit" name="add_to_order" value="submit">Add to Order</button>
  </form>

  <button><a href="{% url 'website:recommend_product' product_id=product.id %}">Recommend to a Friend!</a></button>
  {% endif %}
{% endblock %}
