<div class="row">
  <div class="col-sm-2">
    <br>
    <br>
    <br>
    {% block sidebar %}
    <ul class="sidebar-nav">
        <li><a href="{% url 'website:index' %}">Home</a></li>
        <li><a href="{% url 'website:product_categories_view' %}">Product Categories</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'website:sell' %}">Sale Your Product</a></li>
        <li><a href="{% url 'website:view_order' %}">Shopping Cart</a></li>
        <li><a href="{%url 'website:view_account' %}">Account</a></li>
        {% endif %}
    </ul>
   {% endblock %}
  </div>

  <div class="col-sm-10">
    <h2> Welcome to Bangazon! </h2>
    {% if user.is_authenticated %}
    <h3> Good to see you again, {{user.username}} </h3>
    <a href="{% url 'website:logout' %}">Logout</a>
    {% else %}
    <div><a href="{% url 'website:register' %}">Join the future, Join BANGAZON!</a></div>
    <div><a href="{% url 'website:login' %}">You've been gone to long! Log in!!! </a></div>
    {% endif %}
  </div>
</div>