{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>

    {% include "navbar.html" %}    

    
    <h2>You have {{ product_recommendations.count }} new notifications!</h2>

   {% for recommendation in product_recommendations %}
     <form method="post" action="/notifications">

        {% csrf_token %}
         <p>{{ recommendation.to_person }} recommended {{ recommendation.product.title }}</p>
         <input type="hidden" method="get" name="go_to_recommendation" value="{{ recommendation.id }}" />
         <input type="submit" method="get" name="view" value="Check it out" />        
        
    </form>
     <hr>
   {% endfor %}

  </body>
</html>
