  {% extends 'index.html' %}
  {% block content %}
  {% load staticfiles %}

    {% include "navbar.html" %}    
    <h2>Recommendations</h2>   

    
    <hr> 
    <h3>Based on you purchase history, we recommend the following products: </h3>
    {% for product in recommended_products %}
      <p><a href="{% url 'website:product_details' product.id %}">{{ product }}</a></p>
    {% endfor %}

    <hr>
    
    {% if open_orders %}
      <h3>Here is your open order:</h3>
      {% for order in open_orders %}
        <p>{{ order.product }}</p>
      {% endfor %}
    {% endif %}

    <hr>   

    {% if likes_and_dislikes %}
      <h3>Your likes/dislikes</h3>
      {% for product in likes_and_dislikes %}
      <p><a href="{% url 'website:product_details' product.id %}">{{ product }}</a></p>
      {% endfor %}      
    {% else %}
      <p>You have not liked or bought anything!</p>
    {% endif %}
    <hr>
    <button><a href="{% url 'website:index' %}">Go Home</a></button>
{% endblock %}
